@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  font: 20px Poppins, monospace;
  -webkit-user-select: none;
}

.dark {
  color: #000000;
  background-color: #ffffff;
}

/* 
.warning-box {
  font: 30px "Dank Mono";
  color: #000000;
  background-color: #ffffff;
  margin: 30% 0% 30% 0%;
}

.game {
  display: none;
} */

#h1-header {
  font: bolder 40px/1 inherit;
  margin: 0%;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.red:hover,
.green:hover,
.blue:hover {
  color: black;
  background-color: #ffffff;
}

/* UPON TOGGLE OF DARK MODE */
.dark-h1 {
  color: #ffffff;
  background-color: #000;
}

/* DEFAULT COLOR OF BAR */
.bar {
  color: #000000;
  background-color: #ffffff;
}

.level:hover {
  cursor: pointer;
  background-color: aqua;
  transition: 0.3s ease-in;
}

#container {
  max-width: 600px;
  margin: 0px auto;
}

.squares {
  background-color: purple;
  border-radius: 20%;
  width: 30%;
  margin: 1.66%;
  padding-bottom: 30%;
  float: left;
  cursor: pointer;
}

.container .squares {
  display: none;
}
